.reveal
  .slides
    %section
      %h1 Only Connect
      %p Press right to continue
    %section
      %h1 Let's begin the quiz
    - @oc.round_one_questions.each do |r1q|
      %section
        %h1 Round 1
        %table.oc-table
          %tr
            - if r1q.is_pictures?
              %td.fragment= image_tag r1q.clue1
              %td.fragment= image_tag r1q.clue2
              %td.fragment= image_tag r1q.clue3
              %td.fragment= image_tag r1q.clue4
            - else
              %td.fragment= r1q.clue1
              %td.fragment= r1q.clue2
              %td.fragment= r1q.clue3
              %td.fragment= r1q.clue4
        .fragment.oc-answer.roll-in= r1q.connection
    - @oc.round_two_questions.each do |r2q|
      %section
        %h1 Round 2
        %table.oc-table
          %tr
            - if r2q.is_pictures?
              %td.fragment{data: {fragment: {index: 0}}}= image_tag r2q.clue1
              %td.fragment{data: {fragment: {index: 1}}}= image_tag r2q.clue2
              %td.fragment{data: {fragment: {index: 2}}}= image_tag r2q.clue3
              %td.fragment{data: {fragment: {index: 2}}} ???
            - else
              %td.fragment{data: {fragment: {index: 0}}}= r2q.clue1
              %td.fragment{data: {fragment: {index: 1}}}= r2q.clue2
              %td.fragment{data: {fragment: {index: 2}}}= r2q.clue3
              %td.fragment{data: {fragment: {index: 2}}} ???
        .fragment.oc-answer.roll-in
          Answer:
          - if r2q.is_pictures?
            .oc-answer--image= image_tag r2q.clue4
          - else
            = r2q.clue4
          .fragment
            = surround "(", ")" do
              = r2q.connection
    - if @oc.round_three_puzzgrid.present?
      - r3 = @oc.round_three_puzzgrid
      %section
        %h1 Round 3
        %p
          Time for your wall games! Click these links to play them
        %p= link_to "Team 1's grid", r3.grid_one, target: "_blank"
        %p= link_to "Team 2's grid", r3.grid_two, target: "_blank"

    - @oc.missing_vowels_rounds.each do |mvr|
      - mvr.clues_and_answers.each do |clue, answer|
        %section
          %h4 Missing Vowels
          %h2= mvr.connection
          .fragment.oc-answer.roll-in.missing-vowel-clue= clue
          .fragment.oc-answer.roll-in.missing-vowel-answer= answer

    %section#last-slide
      %h1 End of Quiz!
      %h3 Did you have fun?
      %p
        %small
          %a{:href => "http://creativecommons.org/licenses/by-sa/4.0/deed.en_GB", :rel => "license"}
            %img{:alt => "Creative Commons Licence", :src => "http://i.creativecommons.org/l/by-sa/4.0/88x31.png", :style => "border-width:0"}/
          %br/
          %span{:property => "dct:title", "xmlns:dct" => "http://purl.org/dc/terms/"} Only Connect for friends
          made with love by
          %a{:href => "http://londonstartuptech.com", :property => "cc:attributionName", :rel => "cc:attributionURL", "xmlns:cc" => "http://creativecommons.org/ns#"} Hywel Carver of the Board Gamers.
          is licensed under a
          = succeed "." do
            %a{:href => "http://creativecommons.org/licenses/by-sa/4.0/deed.en_GB", :rel => "license"} Creative Commons Attribution-ShareAlike 4.0 International License
:javascript
  Reveal.initialize({
  	controls: true,
  	progress: true,
  	history: true,
  	center: true,
  	transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none
  });
