%p=link_to "Back to home", root_path

%h1.oc-page-header=@oc.name

%h3.oc-page-header R1
= link_to '+ New R1 question', new_oc_round_one_question_path(@oc), remote: :true

.round-one-question-space

%table.table.round-one-questions
  - @oc.round_one_questions.each do |r1q|
    = render "four_clue_questions/show", q: r1q

%h3.oc-page-header R2
= link_to '+ New R2 question', new_oc_round_two_question_path(@oc), remote: :true

.round-two-question-space

%table.table.round-two-questions
  - @oc.round_two_questions.each do |r1q|
    = render "four_clue_questions/show", q: r1q

%h3.oc-page-header R3

URLs for your
=link_to 'Puzzgrid', 'http://puzzgrid.com/'
grids

%p
  - if @oc.round_three_puzzgrid.persisted?
    = link_to "edit these", edit_oc_round_three_puzzgrid_path(@oc, @oc.round_three_puzzgrid), remote: true
  - else
    = link_to "edit these", new_oc_round_three_puzzgrid_path(@oc), remote: true

= render @oc.round_three_puzzgrid

%h3.oc-page-header R4
= link_to '+ New Missing Vowels question', new_oc_missing_vowels_round_path(@oc), remote: :true

.js-missing-vowels-round-space

%table.table.missing-vowels-rounds
  - @oc.missing_vowels_rounds.each do |r4q|
    = render "missing_vowels_rounds/show", round: r4q

%p=link_to "Back to home", root_path
