= form_for([q.oc, q], remote: true) do |f|
  = render "shared/errors", object: f.object
  .form-group
    = f.label :answer
    = f.text_field :answer, class: "form-control"
  .form-group.form-check
    = f.check_box :is_pictures, class: "form-check-input"
    = f.label :is_pictures, "Is this a picture round? (paste in the URLs of the images)", class: "form-check-label"
  .form-group.row
    = f.label :clue1, "Clue 1", class: "col-sm-3"
    .col-sm-9= f.text_field :clue1, class: "form-control"
  .form-group.row
    = f.label :clue2, "Clue 2", class: "col-sm-3"
    .col-sm-9= f.text_field :clue2, class: "form-control"
  .form-group.row
    = f.label :clue3, "Clue 3", class: "col-sm-3"
    .col-sm-9= f.text_field :clue3, class: "form-control"
  .form-group.row
    = f.label :clue4, "Clue 4", class: "col-sm-3"
    .col-sm-9= f.text_field :clue4, class: "form-control"
  .form-group
    = f.submit 'Save', class: "btn btn-primary"
